body {
    width: 100%;
    margin: 0;
    color: white;
    background-color:white;
}

.container {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    padding: 20px;
    background-color: #27ae60;
    border-radius: 10px;
}

h1, p {
    text-align: center;
}

label {
    display:block;
    margin: 0.65em;
    color: white;
}
.inline{
    width:unset;
  }
 
input,
textarea,
select {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}



 button[type="submit"] {
    width: 100%;
    color: white;
    background-color: #219150;
    height: 50px;
    margin: 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
}

 button[type="submit"]:hover {
    background-color: green; /* Darker shade of green on hover */
}
.buttonclose{
    background-color: white;
font-size: 20px;
cursor: pointer;
position: absolute;
top: 10px;
right: 10px;

}
.buttonclose:hover{
    opacity: 0.7;
    background-color: lightgray;
}
